
.book-button {
    margin-left: 20px;
    width: 60px;
    height: 80px;
    background: url(Closedbook.png) no-repeat center center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out, transform 0.3s;
}

.book-button.flipping {
    background: url(Flippingpages.png) no-repeat center center;
    background-size: cover;
}

.book-button.open {
    background: url(Openbook.png) no-repeat center center;
    background-size: cover;
}

.book-links {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.book-links a {
    display: block;
    text-decoration: none;
    color: #005f6b;
    margin: 5px 0;
}

.book-links a:hover {
    text-decoration: underline;
}